/* :root {
    --color1: #eecc83;
    --color2: #d4f0f7;
    --color3: #d0d5f7;
    --color4: #b8cfec;
    
}

.html {
   
}

body {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    margin: 0;
}

.section-main-div {
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    margin-right: auto;
}

#section-1-main-div {
    background-color: var(--color1);
}

#section-2-main-div {
    background-color: var(--color4);
    padding-bottom: 5rem;
}

#section-3-main-div {
    background-color: var(--color1);
}

#section-4-main-div {
    background-color: var(--color4);
}

.section-body-div {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    padding-left: 5rem;
    padding-right: 5rem;
}

.section-2-body-element-1 {
    width: 30%;
}

.section-2-body-element-2 {
    width: 70%;
}

#section-2-body-div-3 {
    width: 85%
}

.section-3-body-div {
    display: block;
}

.section-header {
    margin-bottom: 2%;
}

ul {
    padding-left: 0;
}

hr {
    border: 1px solid black;
}

#section-3-image-body-element {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#section-3-image-body-element-2 {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    margin: 1rem;
}

.section-3-body-element-1{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
} */

:root {
    --color1: white;
    --color2: black;
    --color3: gray;
    --color4: #30a748;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0; /*TODO: FIGURE OUT MARGIN VS PADDING*/
    scroll-behavior: smooth;
    line-height: 150%;
}

/* The navigation bar */
.navbar {
    overflow: hidden;

    background-color: var(--color2); 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    /*border-bottom: 1px solid var(--main-color2);*/
}

.navbar-title {
    height: fit-content;
}

.navbar-line {
    margin-top: -1.2rem;
    width: 95%;
    height: 1px;
    background-color: black;
    line-height: 80%;
}

.navbar-item-container {
    margin-left: auto;
    align-self: center;
}
  
/* Links inside the navbar */
.navbar-item {

    display: inline-block;
    position: relative;
    color: var(--color1);
    text-align: center;
    padding: 14px 16px;
    padding-bottom: 1%;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}

/* Link animation */


.navbar-item::after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 20%; /* CHANGE */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Change background on hover of nav item */
.navbar-item {
    color: var(--color1);
}

.navbar-item:hover {
    color: var(--color4);
}

.navbar-item::after {
    background-color: var(--color4);
}

/* Main content */
.main {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.main-section {
    padding-top: 6rem;
}

#introduction {
    margin-top: 5rem;
}

.main-sub-section {
    padding-bottom: 2rem;
}

.section-header {
    color: var(--color4)
}

#title-span {
    color: var(--color4)
}

#identifying-problems iframe {
    width: 100%;
    height: 70%;
}


#section-3-image-body-element {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#section-3-image-body-element-2 {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    margin: 1rem;
}

a {
    margin-bottom: 2%;
}